---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  title: string
  description: string
  img: string
  price: number
}

const { title, description, img, price } = Astro.props

const imagesPath = '/src/assets/images'

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpeg,jpg,png,webp}',
)

const imgPath = `${imagesPath}/${img}`

if (!images[imgPath]) {
  throw new Error(`Image not found: ${img}`)
}
---

<article class='dish mx-auto flex gap-2'>
  <div
    class='min-w-[300px] mx-auto flex flex-col items-center justify-center gap-2'
  >
    <Image width={400} height={400} src={images[imgPath]()} alt={title} />
    <div class='flex flex-wrap w-3/4 mx-auto'>
      <div class=''>
        <h3 class='text-balance text-4xl text-left font-bold'>{title}</h3>
        <p class='text-pretty'>{description}</p>
      </div>
      <span class='w-full mt-2 text-right font-medium'>{price}€</span>
    </div>
  </div>
</article>

<style>
  article {
    /* flex: 1 1 40%; */
  }
</style>
